@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-tazh2a');
	src:url('../fonts/icomoon.eot?#iefix-tazh2a') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-tazh2a') format('woff'),
		url('../fonts/icomoon.ttf?-tazh2a') format('truetype'),
		url('../fonts/icomoon.svg?-tazh2a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-circle-o-notch:before {
	content: "\e625";
}
.icon-google-plus:before {
	content: "\e601";
}
.icon-email:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}
.icon-sina-weibo:before {
	content: "\e604";
}
.icon-pencil:before {
	content: "\e611";
}
.icon-quill:before {
	content: "\e61d";
}
.icon-books:before {
	content: "\e623";
}
.icon-tag:before {
	content: "\e612";
}
.icon-address-book:before {
	content: "\e613";
}
.icon-bell:before {
	content: "\e61e";
}
.icon-mobile:before {
	content: "\e606";
}
.icon-redo:before {
	content: "\e61f";
}
.icon-user:before {
	content: "\e61c";
}
.icon-users:before {
	content: "\e607";
}
.icon-search:before {
	content: "\e620";
}
.icon-wrench:before {
	content: "\e624";
}
.icon-list:before {
	content: "\e614";
}
.icon-flag:before {
	content: "\e608";
}
.icon-heart:before {
	content: "\e615";
}
.icon-thumbs-up:before {
	content: "\e616";
}
.icon-close:before {
	content: "\e60e";
}
.icon-minus:before {
	content: "\e60f";
}
.icon-plus:before {
	content: "\e610";
}
.icon-loop:before {
	content: "\e617";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e618";
}
.icon-skype:before {
	content: "\e600";
}
.icon-maximize:before {
	content: "\e621";
}
.icon-star:before {
	content: "\e609";
}
.icon-video:before {
	content: "\e60a";
}
.icon-settings:before {
	content: "\e60b";
}
.icon-lock:before {
	content: "\e60c";
}
.icon-world:before {
	content: "\e60d";
}
.icon-cross:before {
	content: "\e619";
}
.icon-min:before {
	content: "\e61a";
}
.icon-max:before {
	content: "\e61b";
}
.icon-ellipsis:before {
	content: "\e622";
}
