@import "compass/reset";
@import "compass/css3";

@import "compass/utilities/general/clearfix";

@import "icomoon";

$bg-color: #fff;
$text-color: #3e3e3e;
$gray-bg: #eee;
$light-text-color: #eeeeee;
$heading-color: hsl(160, 90%, 40%);

$mask-color: #333333;
$small-break: 320px;
$large-break: 1200px;

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

$break-small: 320px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

body {
	font-family: 'Open Sans', sans-serif;
	@include font-smoothing;
    text-align: center;
    color: $text-color;
    background-color: $bg-color;
    width: 100%;
   p {
   	line-height: 1.4em;
   }
}

header {
	padding: 0 1em;
	background-color: $heading-color;
	h1 {
		float: left; 
		font-weight: bold;
		font-size: 1.5em;
		line-height: 2em;
		padding: 0 1em;
		text-transform: uppercase;
		a {
			color: white;
			text-decoration: none;
		}
	}
	li {
		float: left;
		a {
			text-decoration: none;
			color: white;
			display: inline-block;
			padding: 1em 1em;
		}
		&:hover {
			background-color: hsl(160, 90%, 35%);
			.sub-nav {
				display: block;
			}
		}
		.sub-nav {
			display: none;
			position: absolute;
			width: 15em; 
			z-index: 99;
			top: 3em;
			left: 300px;
			p {
				width: 100%;
				line-height: 3em;
				background-color: #444;
				a {
					text-decoration: none;
					text-align: left;
					color: white;
					display: block;
					padding: 0em 1em;
					&:hover {
						background: #333;
					}
				}
			}
		}
	}
	@include clearfix;
}

.container {
	max-width: 120em;
	margin: 0 auto;
}

.darker {
	background-color: #dddddd;
}

.hero {
	width: 100%;
	min-height: 35em;
	position: relative;
	background-color: $mask-color;
	z-index: 1;

	&:after {
		background: url('../images/hero-1-resized.jpg');
		background-size: 100%;
		position: absolute;
		content: "";
		z-index: -1;
		opacity: .3;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	h2 {
		font-weight: bold;
		font-size: 3em;
		padding: 3em 0 1em 0;
		text-transform: uppercase;
		color: white;
	}

	p {
		max-width: 70%;
		color: #eee;
		margin: 0 auto;
		padding: 1em 0 8em 0;
		span {
			color: $heading-color;
		}
	}
}

.workshop-hero {
	width: 100%;
	min-height: 18em;
	position: relative;
	background-color: $mask-color;
	z-index: 1;
	.workshop-banner {
		padding: 0 6em;
		h2 {
			text-align: left;
			font-weight: bold;
			font-size: 3em;
			padding: 1.5em 0 0.3em;
			text-transform: uppercase;
			color: white;
		}

		p {
			text-align: left;
			color: #eee;
			padding: 0.2em 0;
			span {
				color: $heading-color;
			}
			strong {
				font-weight: bold;
			}
			&.time {
				background-color: $heading-color;
				padding: 0.1em 0.5em;
				width: 200px;
				margin-bottom: 1em;
			}
		}
	}

	&:after {
		background: url('../images/hero-1-resized.jpg') 0 -9em;
		background-size: 100%;
		position: absolute;
		content: "";
		z-index: -1;
		opacity: .3;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.workshop2-hero {
	&:after {
		background: url('../images/workshop2/classshow/1.pic.jpg') 0 -36em;
		background-size: 100% auto;
	}
}

@mixin section-title() {
	font-size: 2em;
	text-transform: uppercase;
	color: $heading-color;
	padding: 2em 0;

	&:after {
		content: "";
		display: block;
		background-color: #cccccc;
		width: 2em;
		height: .2em;
		margin: .4em auto;
	}	
}

.history {
	padding: 2em 0 7em;
	background-color: $gray-bg;
	h3 {
		@include section-title;
	}

	li {
		float: left;
		width: 33.33%;
		position: relative;

		@include respond-to(handhelds) {
			float: none;
			width: 100%;
		}

		@include respond-to(medium-screens) {
			width: 100%;
		}

		.number {
			height: 60px;
			width: 240px;
			margin: 0 auto;
			h4 {
				background: #d8d8d8;
				padding-top: 1.5em;
				height: 100%;
				font-weight: bold;
				float: left;
				width: 190px;
			}
			p {
				float: left;
				width: 50px;
				height: 100%;
				color: #fff;
				font-size: 3em;
				line-height: 1.2em;
				font-weight: bold;
				background: #666;
				&.current-num {
					background-color: $heading-color;
				}
			} 

			@include clearfix;
		}

		.current-note {
			position: absolute;
			width: 240px;
			top: 70px;
			text-align: center;
			color: $heading-color;
		}

		.subject {
			margin: 0 auto;
			width: 240px;
			text-align: left;
			p {
				color: #6e6e6e;
				margin-top: 2em;
				margin-bottom: 2.5em;
				strong {
					font-weight: bold;
				}
			}
		}

		a {
			padding: 0.5em 1em;
			background: $heading-color;
			color: #fff;
			text-decoration: none;
		}
	}

	@include clearfix;
}

.topics {
	padding: 2em 0 4em 0;
	h3 {
		@include section-title;
	}
	
	li {
		float: left;
		width: 33.33%;

		@include respond-to(handhelds) {
			float: none;
			width: 100%;
		}

		@include respond-to(medium-screens) {
			width: 100%;
		}

		i {
			font-size: 3em;
		}

		h4 {
			padding: 1em 0;
			font-weight: bold;
		}

		p {
			color: #6e6e6e;
			padding: 0 8em;
			margin-bottom: 4em;
		}
	}

	@include clearfix;
}

@mixin gallery-image($index) {
	content: url("../images/gallery-#{$index}-resized.jpg");
}

@mixin gallery-image-workshop2($index) {
	content: url("../images/workshop2/classshow/#{$index}.pic.jpg");
}

.pages {
	padding: 2em 0;
	background-color: $gray-bg;

	h3 {
		@include section-title;
	}

	.sample {
		padding: 0 6em 4em 6em;
	}

	#week-1, #week-2{
		li {
			float: left;
			width: 50%;
			
			@include respond-to(handhelds) {
				float: none;
				width: 100%;
				margin-bottom: 2em;
			}

			@include respond-to(medium-screens) {
				float: none;
				width: 100%;
				margin-bottom: 2em;
			}

			.thumb {
				width: 100%;
				height: 30em;
				overflow: hidden;
				img {
					width: 90%;
					margin: 0 auto;
				}
			}

			.description {
				text-align: left;
				h4{
					@media screen and (max-width: $small-break) {
						padding-top: 1em;
					}
					font-weight: bold;
				}

				p {
					font-weight: lighter;
					color: #444;
					text-align: left;
					padding: .5em 0;
				}
			}

			@include clearfix;
		}
		@include clearfix;
	}

	#week-1 {
		.thumb {
			img {
				content: url("../images/agents-fs8.png");
			}
		}
	}

	#week-2 {
		.thumb {
			img {
				content: url("../images/themes-resized.jpg");
			}
		}
	}
	
	#week-3 {
		.thumb {
			img {
				content: url("../images/artists-resized.jpg");
			}
		}
	}

}

.workshop2 {
	#week-1 {
		.thumb {
			img {
				content: url("../images/workshop2/second-day.png");
			}
		}
	}

	#week-2 {
		.thumb {
			img {
				content: url("../images/workshop2/third-day.png");
			}
		}
	}
	
}


.gallery {
	padding: 2em 0 8em 0;
	
	h3 {
		@include section-title;
	}

	ul {
		padding: 0 2em;

		li {
			float: left;
			width: 25%;
			

			@include respond-to(handhelds) {
				float: none;
				width: 100%;
			}

			@include respond-to(medium-screens) {
				width: 50%;
			}

			box-sizing: border-box;

			a {
				display: block;
				position: relative;
				width: 100%;
				
				&::after {
					content: "";
					display: block;
					background: rgba(51, 51, 51, .2);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}	
				
				&:hover {
					z-index: 10;
					&::after {
						display: none;
					}
				}
			}

			img {
				width: 100%;
				@include transition(all .2s ease-in-out);
				&:hover {
					@include transform(scale(1.2));
				}
			}

			@for $i from 1 to 9 {
				&:nth-child(#{$i}) img {
					@include gallery-image(#{$i});
				}	
			}
			
		}		
	}


	@include clearfix;
}

.gallery.gallery-workshop2 li {
	@for $i from 1 to 5 {
		&:nth-child(#{$i}) img {
			@include gallery-image-workshop2(#{$i});
		}	
	}
}
.cases {
	padding: 3em 0 6em 0;
	a {
		text-decoration: none;
		color: white;
	}
	h2 {
		@include section-title;
		padding-bottom: 0;
	}
	.description {
		width: 80%;
		margin: 0 auto;
		padding-bottom: 4em;
	}
	ul {
		padding: 0 2em;
	}

	li {
		float: left;
		width: 33.33%;
		border: 2px solid #0ac285;
		box-sizing: border-box;

		@include respond-to(handhelds) {
			float: none;
			width: 100%;
		}

		@include respond-to(medium-screens) {
			width: 50%;
		}

		height: 22em;
		overflow: hidden;

		.case {
			width: 100%;
		}
		
		position: relative;

		&:hover {
			.information {
				top:15em;
			}

			.mask {
				top:0;
			}
		}

		.mask {
			display: block;
			position: absolute;
			top:-22em;
			left:0;
			height: 100%;
			width: 100%;
			background-color: $text-color;
			opacity: .1;
		}

		.information {
			position: absolute;
			background-color: $text-color;
			top:22em;
			left:0;
			width: 100%;
			height: 150px;
			opacity: .9;
			transition: all .4s ease-in-out;
			text-align: left;
			padding: 0 1em;
			box-sizing: border-box;
			color: white;

			h3 {
				padding: 1em 0;
			}

			.actions {
				text-align: center;
				width: 90%;
				margin: 0 auto;
				padding: 5em 0;

				span {
					display: inline-block;
					border: 1px solid transparent;
					@include border-radius(100%);
					padding: .3em;
					margin-right: 1em;
					transition: all .3s ease-in-out;
					cursor: pointer;

					&:hover {
						color: white;
						background-color: $heading-color;
						border: 1px solid $heading-color;
					}
				}
			}

			.detail {
				position: relative;
				padding-top: 2em;
				.avator {
					position: absolute;
					width: 3em;
					height: 3em;
					bottom: 0;
					@include border-radius(100%);
				}

				p {
					padding: .5em 0 0 0;
				}
				.contact {
					margin-left: 4em;
					.name {
						font-weight: bold;
						margin-right: .5em;
					}
					
					.role {
						color: $light-text-color;
					}

					.date {
						display: none;
						color: $light-text-color;	
						float: right;
					}
				}

				.like {
					position: absolute;
					bottom: 0;
					right: 0;				

					color: white;
					background-color: $heading-color;
					border: 1px solid $heading-color;

					padding: .2em;
					@include border-radius(100%);
					transition: all .3s ease-in-out;

					&:hover {
						color: $heading-color;
						background-color: white;
						border: 1px solid transparent;
							
					}
				}
			}
		}
	}

	@include clearfix;
}

footer {
	padding: 1em 0;
	p {
		color: white;
		a {
			color: $heading-color;
			text-decoration: none;
			display: inline-block;
		}
	}
	strong {
		font-weight: bold;
	}
	.note {
		font-size: 0.8em;
		color: #888;
		width: 80%;
		margin: 10px auto 10px auto;
		color: #9e9e9e;
	}
	background-color: #333333;

	@include clearfix;
}

