@import "compass/reset";
@import "compass/css3";

@import "compass/utilities/general/clearfix";

@import "icomoon";

$background-color: #eeeeee;
$text-color: #3e3e3e;
$light-text-color: #eeeeee;
$heading-color: hsl(160, 90%, 40%);

$mask-color: #333333;
$small-break: 320px;
$large-break: 1200px;

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

$break-small: 320px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

body {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: $text-color;
    background-color: $background-color;
    width: 100%;
}

header {
	padding: 0 1em;
	background-color: $heading-color;
	li {
		float: left;
		a {
			font-size: 1.5em;
			text-decoration: none;
			color: white;
			display: inline-block;
			padding: 1em 1em;
		}
		&:hover {
			background-color: hsl(160, 90%, 35%);
		}
	}
	@include clearfix;
}

.main {
	max-width: 120em;
	margin: 0 auto;
}

.hero {
	width: 100%;
	min-height: 50em;
	position: relative;
	background-color: $mask-color;
	z-index: 1;

	&:after {
		background: url('../images/hero-1-resized.jpg');
		background-size: cover;
		position: absolute;
		content: "";
		z-index: -1;
		opacity: .2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	h2 {
		font-size: 6em;
		font-weight: bold;
		padding: 3em 0 1em 0;
		text-transform: uppercase;
		color: white;
	}

	p {
		max-width: 70%;
		font-size: 1.5em;
		font-weight: lighter;
		color: #cecece;
		line-height: 1.4;
		margin: 0 auto;
		padding: 1em 0 8em 0;
		span {
			color: $heading-color;
		}
	}
}

@mixin section-title() {
	font-size: 2em;
	text-transform: uppercase;
	color: $heading-color;
	padding: 2em 0;

	&:after {
		content: "";
		display: block;
		background-color: #cccccc;
		width: 2em;
		height: .2em;
		margin: .4em auto;
	}	
}

.topics {
	padding: 2em 0 4em 0;
	h3 {
		@include section-title;
	}
	
	li {
		float: left;
		width: 33.33%;


		@media screen and (max-width: $small-break) {
			float: none;
			width: 100%;
		}

		i {
			font-size: 3em;
		}

		h4 {
			font-size: 1.5em;
			padding: 1em 0;
			font-weight: bold;
		}

		p {
			line-height: 1.4;
			color: #6e6e6e;
			padding: 0 8em;
			margin-bottom: 4em;
		}
	}

	@include clearfix;
}

@mixin gallery-image($index) {
	content: url("../images/gallery-#{$index}-resized.jpg");
}

.pages {
	padding: 2em 0;
	background-color: #dddddd;

	h3 {
		@include section-title;
	}

	.sample {
		padding: 0 6em 8em 6em;
	}

	#week-1, #week-2, #week-3 {
		li {
			float: left;
			width: 50%;
			
			@media screen and (max-width: $small-break) {
				float: none;
				width: 100%;
			}

			.thumb {
				width: 100%;
				height: 30em;
				overflow: hidden;
				img {
					width: 90%;
					margin: 0 auto;
				}
			}

			.description {
				h4{
					text-align: left;
					padding-left: 1.5em;
					@media screen and (max-width: $small-break) {
						padding-top: 1em;
					}
					font-size: 2em;
					font-weight: bold;
				}

				p {
					font-size: 1.5em;
					font-weight: lighter;
					line-height: 1.4;
					color: #6e6e6e;
					text-align: left;
					padding: .5em 2em;
				}
			}

			@include clearfix;
		}
		@include clearfix;
	}

	#week-1 {
		.thumb {
			img {
				content: url("../images/agents-fs8.png");
			}
		}
	}

	#week-2 {
		.thumb {
			img {
				content: url("../images/themes-resized.jpg");
			}
		}
	}
	
	#week-3 {
		.thumb {
			img {
				content: url("../images/artists-resized.jpg");
			}
		}
	}
	
	.note {
		p {
			padding: 0 4em;
			color: #9e9e9e;
			line-height: 1.2;
			a {
				color: $heading-color;
			}
		}
	}
}

.gallery {
	padding: 2em 0 8em 0;
	
	h3 {
		@include section-title;
	}

	ul {
		padding: 0 2em;

		li {
			float: left;
			width: 25%;
			
			@media screen and (max-width: $small-break) {
				width: 50%;
				padding: 1em;
			}

			box-sizing: border-box;

			a {
				display: block;
				position: relative;
				width: 100%;
				
				overflow: hidden;	
				&::after {
					content: "";
					display: block;
					background: rgba(51, 51, 51, .5);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}	
				
				&:hover {
					&::after {
						display: none;
					}
				}
			}

			img {
				width: 100%;
				@include transition(all .2s ease-in-out);
				&:hover {
					@include transform(scale(1.2));
				}
			}

			@for $i from 1 to 9 {
				&:nth-child(#{$i}) img {
					@include gallery-image(#{$i});
				}	
			}
			
		}		
	}


	@include clearfix;
}


.cases {
	padding: 3em 0 6em 0;
	background-color: #dddddd;
	a {
		text-decoration: none;
		color: white;
	}
	h2 {
		color: $heading-color;
		font-size: 3em;
		padding: 1em 0;
		text-transform: uppercase;
		
		@include section-title;
	}

	ul {
		padding: 0 2em;
	}
	
	li {
		float: left;
		width: 25%;

		@include respond-to(handhelds) {
			float: none;
			width: 100%;
		}

		@include respond-to(medium-screens) {
			width: 50%;
		}

		height: 25em;
		overflow: hidden;

		.case {
			width: 100%;
		}
		
		position: relative;

		&:hover {
			.information {
				top:16em;
			}

			.mask {
				top:0;
			}
		}

		.mask {
			display: block;
			position: absolute;
			top:-25em;
			left:0;
			height: 100%;
			width: 100%;
			background-color: $text-color;
			opacity: .2;
		}

		.information {
			position: absolute;
			background-color: $text-color;
			top:25em;
			left:0;
			width: 100%;
			height: 100%;
			opacity: .9;
			transition: all .4s ease-in-out;
			text-align: left;
			padding: 0 1em;
			box-sizing: border-box;
			color: white;

			h3 {
				font-size: 2em;
				padding: 1em 0;
			}

			.actions {
				text-align: center;
				width: 90%;
				margin: 0 auto;
				padding: 5em 0;

				span {
					font-size: 2em;
					display: inline-block;
					border: 1px solid transparent;
					@include border-radius(100%);
					padding: .3em;
					margin-right: 1em;
					transition: all .3s ease-in-out;
					cursor: pointer;

					&:hover {
						color: white;
						background-color: $heading-color;
						border: 1px solid $heading-color;
					}
				}
			}

			.detail {
				position: relative;
				padding-top: 2em;
				.avator {
					position: absolute;
					width: 3em;
					height: 3em;
					@include border-radius(100%);
				}

				p {
					padding: 1em 0 0 0;
					font-size: 1.5em;
				}
				.contact {
					margin-left: 4em;
					.name {
						font-weight: bold;
						margin-right: .5em;
					}
					
					.role {
						color: $light-text-color;
					}

					.date {
						color: $light-text-color;	
						float: right;
					}
				}

				.like {
					position: absolute;
					font-size:2em;
					bottom: -.4em;
					right: 0;				

					color: white;
					background-color: $heading-color;
					border: 1px solid $heading-color;

					padding: .2em;
					@include border-radius(100%);
					transition: all .3s ease-in-out;

					&:hover {
						color: $heading-color;
						background-color: white;
						border: 1px solid transparent;
							
					}
				}
			}
		}
	}

	@include clearfix;
}

footer {
	padding: 1em 0;
	p {
		font-size: 1.5em;
		color: white;
		a {
			color: $heading-color;
			text-decoration: none;
			display: inline-block;
			padding: 1em 1em;
		}
	}

	background-color: #333333;

	@include clearfix;
}

