@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-tazh2a");
  src: url("../fonts/icomoon.eot?#iefix-tazh2a") format("embedded-opentype"), url("../fonts/icomoon.woff?-tazh2a") format("woff"), url("../fonts/icomoon.ttf?-tazh2a") format("truetype"), url("../fonts/icomoon.svg?-tazh2a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/icomoon.scss */
.icon-circle-o-notch:before {
  content: "\e625";
}

/* line 29, ../sass/icomoon.scss */
.icon-google-plus:before {
  content: "\e601";
}

/* line 32, ../sass/icomoon.scss */
.icon-email:before {
  content: "\e602";
}

/* line 35, ../sass/icomoon.scss */
.icon-github:before {
  content: "\e603";
}

/* line 38, ../sass/icomoon.scss */
.icon-sina-weibo:before {
  content: "\e604";
}

/* line 41, ../sass/icomoon.scss */
.icon-pencil:before {
  content: "\e611";
}

/* line 44, ../sass/icomoon.scss */
.icon-quill:before {
  content: "\e61d";
}

/* line 47, ../sass/icomoon.scss */
.icon-books:before {
  content: "\e623";
}

/* line 50, ../sass/icomoon.scss */
.icon-tag:before {
  content: "\e612";
}

/* line 53, ../sass/icomoon.scss */
.icon-address-book:before {
  content: "\e613";
}

/* line 56, ../sass/icomoon.scss */
.icon-bell:before {
  content: "\e61e";
}

/* line 59, ../sass/icomoon.scss */
.icon-mobile:before {
  content: "\e606";
}

/* line 62, ../sass/icomoon.scss */
.icon-redo:before {
  content: "\e61f";
}

/* line 65, ../sass/icomoon.scss */
.icon-user:before {
  content: "\e61c";
}

/* line 68, ../sass/icomoon.scss */
.icon-users:before {
  content: "\e607";
}

/* line 71, ../sass/icomoon.scss */
.icon-search:before {
  content: "\e620";
}

/* line 74, ../sass/icomoon.scss */
.icon-wrench:before {
  content: "\e624";
}

/* line 77, ../sass/icomoon.scss */
.icon-list:before {
  content: "\e614";
}

/* line 80, ../sass/icomoon.scss */
.icon-flag:before {
  content: "\e608";
}

/* line 83, ../sass/icomoon.scss */
.icon-heart:before {
  content: "\e615";
}

/* line 86, ../sass/icomoon.scss */
.icon-thumbs-up:before {
  content: "\e616";
}

/* line 89, ../sass/icomoon.scss */
.icon-close:before {
  content: "\e60e";
}

/* line 92, ../sass/icomoon.scss */
.icon-minus:before {
  content: "\e60f";
}

/* line 95, ../sass/icomoon.scss */
.icon-plus:before {
  content: "\e610";
}

/* line 98, ../sass/icomoon.scss */
.icon-loop:before {
  content: "\e617";
}

/* line 101, ../sass/icomoon.scss */
.icon-facebook:before {
  content: "\e605";
}

/* line 104, ../sass/icomoon.scss */
.icon-twitter:before {
  content: "\e618";
}

/* line 107, ../sass/icomoon.scss */
.icon-skype:before {
  content: "\e600";
}

/* line 110, ../sass/icomoon.scss */
.icon-maximize:before {
  content: "\e621";
}

/* line 113, ../sass/icomoon.scss */
.icon-star:before {
  content: "\e609";
}

/* line 116, ../sass/icomoon.scss */
.icon-video:before {
  content: "\e60a";
}

/* line 119, ../sass/icomoon.scss */
.icon-settings:before {
  content: "\e60b";
}

/* line 122, ../sass/icomoon.scss */
.icon-lock:before {
  content: "\e60c";
}

/* line 125, ../sass/icomoon.scss */
.icon-world:before {
  content: "\e60d";
}

/* line 128, ../sass/icomoon.scss */
.icon-cross:before {
  content: "\e619";
}

/* line 131, ../sass/icomoon.scss */
.icon-min:before {
  content: "\e61a";
}

/* line 134, ../sass/icomoon.scss */
.icon-max:before {
  content: "\e61b";
}

/* line 137, ../sass/icomoon.scss */
.icon-ellipsis:before {
  content: "\e622";
}
