/* line 5, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?200299");
  src: url("../fonts/icomoon.eot?#iefix200299") format("embedded-opentype"), url("../fonts/icomoon.woff?200299") format("woff"), url("../fonts/icomoon.ttf?200299") format("truetype"), url("../fonts/icomoon.svg?200299#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/icomoon.scss */
.icon-zoom-out:before {
  content: "\e62b";
}

/* line 29, ../sass/icomoon.scss */
.icon-zoom-in:before {
  content: "\e62c";
}

/* line 32, ../sass/icomoon.scss */
.icon-open:before {
  content: "\e62a";
}

/* line 35, ../sass/icomoon.scss */
.icon-circle-o-notch:before {
  content: "\e625";
}

/* line 38, ../sass/icomoon.scss */
.icon-google-plus:before {
  content: "\e601";
}

/* line 41, ../sass/icomoon.scss */
.icon-email:before {
  content: "\e602";
}

/* line 44, ../sass/icomoon.scss */
.icon-github:before {
  content: "\e603";
}

/* line 47, ../sass/icomoon.scss */
.icon-sina-weibo:before {
  content: "\e604";
}

/* line 50, ../sass/icomoon.scss */
.icon-pencil:before {
  content: "\e611";
}

/* line 53, ../sass/icomoon.scss */
.icon-quill:before {
  content: "\e61d";
}

/* line 56, ../sass/icomoon.scss */
.icon-books:before {
  content: "\e623";
}

/* line 59, ../sass/icomoon.scss */
.icon-tag:before {
  content: "\e612";
}

/* line 62, ../sass/icomoon.scss */
.icon-address-book:before {
  content: "\e613";
}

/* line 65, ../sass/icomoon.scss */
.icon-bell:before {
  content: "\e61e";
}

/* line 68, ../sass/icomoon.scss */
.icon-mobile:before {
  content: "\e606";
}

/* line 71, ../sass/icomoon.scss */
.icon-redo:before {
  content: "\e61f";
}

/* line 74, ../sass/icomoon.scss */
.icon-user:before {
  content: "\e61c";
}

/* line 77, ../sass/icomoon.scss */
.icon-users:before {
  content: "\e607";
}

/* line 80, ../sass/icomoon.scss */
.icon-search:before {
  content: "\e620";
}

/* line 83, ../sass/icomoon.scss */
.icon-wrench:before {
  content: "\e624";
}

/* line 86, ../sass/icomoon.scss */
.icon-list:before {
  content: "\e614";
}

/* line 89, ../sass/icomoon.scss */
.icon-flag:before {
  content: "\e608";
}

/* line 92, ../sass/icomoon.scss */
.icon-heart:before {
  content: "\e615";
}

/* line 95, ../sass/icomoon.scss */
.icon-thumbs-up:before {
  content: "\e616";
}

/* line 98, ../sass/icomoon.scss */
.icon-close:before {
  content: "\e60e";
}

/* line 101, ../sass/icomoon.scss */
.icon-minus:before {
  content: "\e60f";
}

/* line 104, ../sass/icomoon.scss */
.icon-plus:before {
  content: "\e610";
}

/* line 107, ../sass/icomoon.scss */
.icon-loop:before {
  content: "\e617";
}

/* line 110, ../sass/icomoon.scss */
.icon-arrow-up:before {
  content: "\e626";
}

/* line 113, ../sass/icomoon.scss */
.icon-arrow-down:before {
  content: "\e627";
}

/* line 116, ../sass/icomoon.scss */
.icon-facebook:before {
  content: "\e605";
}

/* line 119, ../sass/icomoon.scss */
.icon-twitter:before {
  content: "\e618";
}

/* line 122, ../sass/icomoon.scss */
.icon-skype:before {
  content: "\e600";
}

/* line 125, ../sass/icomoon.scss */
.icon-maximize:before {
  content: "\e621";
}

/* line 128, ../sass/icomoon.scss */
.icon-star:before {
  content: "\e609";
}

/* line 131, ../sass/icomoon.scss */
.icon-video:before {
  content: "\e60a";
}

/* line 134, ../sass/icomoon.scss */
.icon-settings:before {
  content: "\e60b";
}

/* line 137, ../sass/icomoon.scss */
.icon-lock:before {
  content: "\e60c";
}

/* line 140, ../sass/icomoon.scss */
.icon-world:before {
  content: "\e60d";
}

/* line 143, ../sass/icomoon.scss */
.icon-cross:before {
  content: "\e619";
}

/* line 146, ../sass/icomoon.scss */
.icon-min:before {
  content: "\e61a";
}

/* line 149, ../sass/icomoon.scss */
.icon-max:before {
  content: "\e61b";
}

/* line 152, ../sass/icomoon.scss */
.icon-arrow-down2:before {
  content: "\e628";
}

/* line 155, ../sass/icomoon.scss */
.icon-arrow-up2:before {
  content: "\e629";
}

/* line 158, ../sass/icomoon.scss */
.icon-ellipsis:before {
  content: "\e622";
}

/* line 44, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #3e3e3e;
  background-color: #fff;
  width: 100%;
}
/* line 51, ../sass/style.scss */
body p {
  line-height: 1.4em;
}

/* line 56, ../sass/style.scss */
header {
  padding: 0 1em;
  background-color: #0ac285;
  overflow: hidden;
  *zoom: 1;
}
/* line 59, ../sass/style.scss */
header li {
  float: left;
}
/* line 61, ../sass/style.scss */
header li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1em 1em;
}
/* line 67, ../sass/style.scss */
header li:hover {
  background-color: #09aa74;
}

/* line 74, ../sass/style.scss */
.container {
  max-width: 120em;
  margin: 0 auto;
}

/* line 79, ../sass/style.scss */
.darker {
  background-color: #dddddd;
}

/* line 83, ../sass/style.scss */
.hero {
  width: 100%;
  min-height: 35em;
  position: relative;
  background-color: #333333;
  z-index: 1;
}
/* line 90, ../sass/style.scss */
.hero:after {
  background: url("../images/hero-1-resized.jpg");
  background-size: 100%;
  position: absolute;
  content: "";
  z-index: -1;
  opacity: .3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 103, ../sass/style.scss */
.hero h2 {
  font-weight: bold;
  font-size: 3em;
  padding: 3em 0 1em 0;
  text-transform: uppercase;
  color: white;
}
/* line 111, ../sass/style.scss */
.hero p {
  max-width: 70%;
  font-weight: lighter;
  color: #eee;
  margin: 0 auto;
  padding: 1em 0 8em 0;
}
/* line 117, ../sass/style.scss */
.hero p span {
  color: #0ac285;
}

/* line 139, ../sass/style.scss */
.topics {
  padding: 2em 0 4em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 141, ../sass/style.scss */
.topics h3 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0ac285;
  padding: 2em 0;
}
/* line 129, ../sass/style.scss */
.topics h3:after {
  content: "";
  display: block;
  background-color: #cccccc;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 145, ../sass/style.scss */
.topics li {
  float: left;
  width: 33.33%;
}
@media only screen and (max-width: 320px) {
  /* line 145, ../sass/style.scss */
  .topics li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 145, ../sass/style.scss */
  .topics li {
    width: 100%;
  }
}
/* line 158, ../sass/style.scss */
.topics li i {
  font-size: 3em;
}
/* line 162, ../sass/style.scss */
.topics li h4 {
  padding: 1em 0;
  font-weight: bold;
}
/* line 167, ../sass/style.scss */
.topics li p {
  color: #6e6e6e;
  padding: 0 8em;
  margin-bottom: 4em;
}

/* line 181, ../sass/style.scss */
.pages {
  padding: 2em 0;
  background-color: #eee;
}
/* line 185, ../sass/style.scss */
.pages h3 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0ac285;
  padding: 2em 0;
}
/* line 129, ../sass/style.scss */
.pages h3:after {
  content: "";
  display: block;
  background-color: #cccccc;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 189, ../sass/style.scss */
.pages .sample {
  padding: 0 6em 4em 6em;
}
/* line 193, ../sass/style.scss */
.pages #week-1, .pages #week-2 {
  overflow: hidden;
  *zoom: 1;
}
/* line 194, ../sass/style.scss */
.pages #week-1 li, .pages #week-2 li {
  float: left;
  width: 50%;
  overflow: hidden;
  *zoom: 1;
}
@media only screen and (max-width: 320px) {
  /* line 194, ../sass/style.scss */
  .pages #week-1 li, .pages #week-2 li {
    float: none;
    width: 100%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 194, ../sass/style.scss */
  .pages #week-1 li, .pages #week-2 li {
    float: none;
    width: 100%;
    margin-bottom: 2em;
  }
}
/* line 210, ../sass/style.scss */
.pages #week-1 li .thumb, .pages #week-2 li .thumb {
  width: 100%;
  height: 30em;
  overflow: hidden;
}
/* line 214, ../sass/style.scss */
.pages #week-1 li .thumb img, .pages #week-2 li .thumb img {
  width: 90%;
  margin: 0 auto;
}
/* line 220, ../sass/style.scss */
.pages #week-1 li .description, .pages #week-2 li .description {
  text-align: left;
}
/* line 222, ../sass/style.scss */
.pages #week-1 li .description h4, .pages #week-2 li .description h4 {
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  /* line 222, ../sass/style.scss */
  .pages #week-1 li .description h4, .pages #week-2 li .description h4 {
    padding-top: 1em;
  }
}
/* line 229, ../sass/style.scss */
.pages #week-1 li .description p, .pages #week-2 li .description p {
  font-weight: lighter;
  color: #444;
  text-align: left;
  padding: .5em 0;
}
/* line 244, ../sass/style.scss */
.pages #week-1 .thumb img {
  content: url("../images/agents-fs8.png");
}
/* line 252, ../sass/style.scss */
.pages #week-2 .thumb img {
  content: url("../images/themes-resized.jpg");
}
/* line 260, ../sass/style.scss */
.pages #week-3 .thumb img {
  content: url("../images/artists-resized.jpg");
}

/* line 268, ../sass/style.scss */
.gallery {
  padding: 2em 0 8em 0;
  background-color: #eee;
  overflow: hidden;
  *zoom: 1;
}
/* line 272, ../sass/style.scss */
.gallery h3 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0ac285;
  padding: 2em 0;
}
/* line 129, ../sass/style.scss */
.gallery h3:after {
  content: "";
  display: block;
  background-color: #cccccc;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 276, ../sass/style.scss */
.gallery ul {
  padding: 0 2em;
}
/* line 279, ../sass/style.scss */
.gallery ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
@media only screen and (max-width: 320px) {
  /* line 279, ../sass/style.scss */
  .gallery ul li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 279, ../sass/style.scss */
  .gallery ul li {
    width: 50%;
  }
}
/* line 295, ../sass/style.scss */
.gallery ul li a {
  display: block;
  position: relative;
  width: 100%;
}
/* line 300, ../sass/style.scss */
.gallery ul li a::after {
  content: "";
  display: block;
  background: rgba(51, 51, 51, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 311, ../sass/style.scss */
.gallery ul li a:hover {
  z-index: 10;
}
/* line 313, ../sass/style.scss */
.gallery ul li a:hover::after {
  display: none;
}
/* line 319, ../sass/style.scss */
.gallery ul li img {
  width: 100%;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 322, ../sass/style.scss */
.gallery ul li img:hover {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 328, ../sass/style.scss */
.gallery ul li:nth-child(1) img {
  content: url("../images/gallery-1-resized.jpg");
}
/* line 328, ../sass/style.scss */
.gallery ul li:nth-child(2) img {
  content: url("../images/gallery-2-resized.jpg");
}
/* line 328, ../sass/style.scss */
.gallery ul li:nth-child(3) img {
  content: url("../images/gallery-3-resized.jpg");
}
/* line 328, ../sass/style.scss */
.gallery ul li:nth-child(4) img {
  content: url("../images/gallery-4-resized.jpg");
}
/* line 328, ../sass/style.scss */
.gallery ul li:nth-child(5) img {
  content: url("../images/gallery-5-resized.jpg");
}
/* line 328, ../sass/style.scss */
.gallery ul li:nth-child(6) img {
  content: url("../images/gallery-6-resized.jpg");
}
/* line 328, ../sass/style.scss */
.gallery ul li:nth-child(7) img {
  content: url("../images/gallery-7-resized.jpg");
}
/* line 328, ../sass/style.scss */
.gallery ul li:nth-child(8) img {
  content: url("../images/gallery-8-resized.jpg");
}

/* line 341, ../sass/style.scss */
.cases {
  padding: 3em 0 6em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 343, ../sass/style.scss */
.cases a {
  text-decoration: none;
  color: white;
}
/* line 347, ../sass/style.scss */
.cases h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0ac285;
  padding: 2em 0;
  padding-bottom: 0;
}
/* line 129, ../sass/style.scss */
.cases h2:after {
  content: "";
  display: block;
  background-color: #cccccc;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 351, ../sass/style.scss */
.cases .description {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 4em;
}
/* line 356, ../sass/style.scss */
.cases ul {
  padding: 0 2em;
}
/* line 360, ../sass/style.scss */
.cases li {
  float: left;
  width: 33.33%;
  border: 2px solid #0ac285;
  box-sizing: border-box;
  height: 22em;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 320px) {
  /* line 360, ../sass/style.scss */
  .cases li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 360, ../sass/style.scss */
  .cases li {
    width: 50%;
  }
}
/* line 378, ../sass/style.scss */
.cases li .case {
  width: 100%;
}
/* line 385, ../sass/style.scss */
.cases li:hover .information {
  top: 15em;
}
/* line 389, ../sass/style.scss */
.cases li:hover .mask {
  top: 0;
}
/* line 394, ../sass/style.scss */
.cases li .mask {
  display: block;
  position: absolute;
  top: -22em;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3e3e3e;
  opacity: .1;
}
/* line 405, ../sass/style.scss */
.cases li .information {
  position: absolute;
  background-color: #3e3e3e;
  top: 22em;
  left: 0;
  width: 100%;
  height: 150px;
  opacity: .9;
  transition: all .4s ease-in-out;
  text-align: left;
  padding: 0 1em;
  box-sizing: border-box;
  color: white;
}
/* line 419, ../sass/style.scss */
.cases li .information h3 {
  padding: 1em 0;
}
/* line 423, ../sass/style.scss */
.cases li .information .actions {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 5em 0;
}
/* line 429, ../sass/style.scss */
.cases li .information .actions span {
  display: inline-block;
  border: 1px solid transparent;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: .3em;
  margin-right: 1em;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
/* line 438, ../sass/style.scss */
.cases li .information .actions span:hover {
  color: white;
  background-color: #0ac285;
  border: 1px solid #0ac285;
}
/* line 446, ../sass/style.scss */
.cases li .information .detail {
  position: relative;
  padding-top: 2em;
}
/* line 449, ../sass/style.scss */
.cases li .information .detail .avator {
  position: absolute;
  width: 3em;
  height: 3em;
  bottom: 0;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 457, ../sass/style.scss */
.cases li .information .detail p {
  padding: .5em 0 0 0;
}
/* line 460, ../sass/style.scss */
.cases li .information .detail .contact {
  margin-left: 4em;
}
/* line 462, ../sass/style.scss */
.cases li .information .detail .contact .name {
  font-weight: bold;
  margin-right: .5em;
}
/* line 467, ../sass/style.scss */
.cases li .information .detail .contact .role {
  color: #eeeeee;
}
/* line 471, ../sass/style.scss */
.cases li .information .detail .contact .date {
  display: none;
  color: #eeeeee;
  float: right;
}
/* line 478, ../sass/style.scss */
.cases li .information .detail .like {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: #0ac285;
  border: 1px solid #0ac285;
  padding: .2em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  transition: all .3s ease-in-out;
}
/* line 491, ../sass/style.scss */
.cases li .information .detail .like:hover {
  color: #0ac285;
  background-color: white;
  border: 1px solid transparent;
}

/* line 505, ../sass/style.scss */
footer {
  padding: 1em 0;
  background-color: #333333;
  overflow: hidden;
  *zoom: 1;
}
/* line 507, ../sass/style.scss */
footer p {
  color: white;
}
/* line 509, ../sass/style.scss */
footer p a {
  color: #0ac285;
  text-decoration: none;
  display: inline-block;
}
/* line 515, ../sass/style.scss */
footer strong {
  font-weight: bold;
}
/* line 518, ../sass/style.scss */
footer .note {
  font-size: 0.8em;
  color: #888;
  width: 80%;
  margin: 10px auto 10px auto;
  color: #9e9e9e;
}
