/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #3e3e3e;
  background-color: #eeeeee;
  width: 100%;
}

/* line 19, ../sass/style.scss */
.main {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* line 25, ../sass/style.scss */
header {
  padding: 0 1em;
  background-color: #0ac285;
  overflow: hidden;
  *zoom: 1;
}
/* line 28, ../sass/style.scss */
header li {
  float: left;
}
/* line 30, ../sass/style.scss */
header li a {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1em 1em;
}
/* line 37, ../sass/style.scss */
header li:hover {
  background-color: #09aa74;
}

/* line 44, ../sass/style.scss */
.hero {
  width: 100%;
  position: relative;
  background-color: #333333;
  z-index: 1;
}
/* line 50, ../sass/style.scss */
.hero:after {
  background: url("../images/hero-1-resized.jpg");
  background-size: cover;
  position: absolute;
  content: "";
  z-index: -1;
  opacity: .2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 62, ../sass/style.scss */
.hero h2 {
  font-size: 6em;
  font-weight: bold;
  padding: 3em 0 1em 0;
  text-transform: uppercase;
  color: white;
}
/* line 70, ../sass/style.scss */
.hero p {
  max-width: 70%;
  font-size: 1.5em;
  color: white;
  line-height: 1.4;
  margin: 0 auto;
  padding: 1em 0 5em 0;
}
/* line 77, ../sass/style.scss */
.hero p span {
  color: #0ac285;
}

/* line 98, ../sass/style.scss */
.topics {
  padding: 2em 0 4em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 100, ../sass/style.scss */
.topics h3 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 2em 0;
}
/* line 88, ../sass/style.scss */
.topics h3:after {
  content: "";
  display: block;
  background-color: #0ac285;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 104, ../sass/style.scss */
.topics li {
  float: left;
  width: 33.33%;
}
/* line 108, ../sass/style.scss */
.topics li i {
  font-size: 3em;
}
/* line 112, ../sass/style.scss */
.topics li h4 {
  font-size: 1.5em;
  padding: 1em 0;
  font-weight: bold;
}
/* line 118, ../sass/style.scss */
.topics li p {
  line-height: 1.2;
  color: #6e6e6e;
  padding: 0 2em;
  margin-bottom: 4em;
}

/* line 129, ../sass/style.scss */
.gallery {
  padding: 0 0 8em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 132, ../sass/style.scss */
.gallery h3 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 2em 0;
}
/* line 88, ../sass/style.scss */
.gallery h3:after {
  content: "";
  display: block;
  background-color: #0ac285;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 136, ../sass/style.scss */
.gallery li {
  float: left;
  width: 25%;
  padding: 0 1em;
  box-sizing: border-box;
}
/* line 142, ../sass/style.scss */
.gallery li img {
  width: 100%;
  -moz-box-shadow: 1px 1px 1px #3e3e3e;
  -webkit-box-shadow: 1px 1px 1px #3e3e3e;
  box-shadow: 1px 1px 1px #3e3e3e;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  opacity: .9;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.2s ease 0s;
}
/* line 148, ../sass/style.scss */
.gallery li img:hover {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 157, ../sass/style.scss */
.pages {
  padding: 2em 0;
  background-color: #dddddd;
}
/* line 161, ../sass/style.scss */
.pages h3 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 2em 0;
}
/* line 88, ../sass/style.scss */
.pages h3:after {
  content: "";
  display: block;
  background-color: #0ac285;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 165, ../sass/style.scss */
.pages .sample {
  padding: 6em;
}
/* line 169, ../sass/style.scss */
.pages #week-1, .pages #week-2, .pages #week-3 {
  overflow: hidden;
  *zoom: 1;
}
/* line 170, ../sass/style.scss */
.pages #week-1 li, .pages #week-2 li, .pages #week-3 li {
  float: left;
  width: 50%;
  overflow: hidden;
  *zoom: 1;
}
/* line 174, ../sass/style.scss */
.pages #week-1 li .thumb, .pages #week-2 li .thumb, .pages #week-3 li .thumb {
  width: 100%;
  height: 30em;
  padding: 0 2em;
  overflow: hidden;
}
/* line 179, ../sass/style.scss */
.pages #week-1 li .thumb img, .pages #week-2 li .thumb img, .pages #week-3 li .thumb img {
  width: 100%;
}
/* line 185, ../sass/style.scss */
.pages #week-1 li .description h4, .pages #week-2 li .description h4, .pages #week-3 li .description h4 {
  text-align: left;
  padding-left: 1.5em;
  font-size: 2em;
  font-weight: bold;
}
/* line 192, ../sass/style.scss */
.pages #week-1 li .description p, .pages #week-2 li .description p, .pages #week-3 li .description p {
  font-size: 1.5em;
  line-height: 1.2;
  color: #6e6e6e;
  text-align: left;
  padding: 1em 2em;
}
/* line 206, ../sass/style.scss */
.pages hr {
  margin: 0 auto;
}
/* line 210, ../sass/style.scss */
.pages .note p {
  padding: 0 4em;
  line-height: 1.2;
}
/* line 213, ../sass/style.scss */
.pages .note p a {
  color: #0ac285;
}

/* line 220, ../sass/style.scss */
footer {
  background-color: #333333;
  overflow: hidden;
  *zoom: 1;
}
/* line 221, ../sass/style.scss */
footer li {
  float: left;
}
/* line 223, ../sass/style.scss */
footer li a {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1em 1em;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-tazh2a");
  src: url("../fonts/icomoon.eot?#iefix-tazh2a") format("embedded-opentype"), url("../fonts/icomoon.woff?-tazh2a") format("woff"), url("../fonts/icomoon.ttf?-tazh2a") format("truetype"), url("../fonts/icomoon.svg?-tazh2a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 248, ../sass/style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 262, ../sass/style.scss */
.icon-circle-o-notch:before {
  content: "\e625";
}

/* line 265, ../sass/style.scss */
.icon-google-plus:before {
  content: "\e601";
}

/* line 268, ../sass/style.scss */
.icon-email:before {
  content: "\e602";
}

/* line 271, ../sass/style.scss */
.icon-github:before {
  content: "\e603";
}

/* line 274, ../sass/style.scss */
.icon-sina-weibo:before {
  content: "\e604";
}

/* line 277, ../sass/style.scss */
.icon-pencil:before {
  content: "\e611";
}

/* line 280, ../sass/style.scss */
.icon-quill:before {
  content: "\e61d";
}

/* line 283, ../sass/style.scss */
.icon-books:before {
  content: "\e623";
}

/* line 286, ../sass/style.scss */
.icon-tag:before {
  content: "\e612";
}

/* line 289, ../sass/style.scss */
.icon-address-book:before {
  content: "\e613";
}

/* line 292, ../sass/style.scss */
.icon-bell:before {
  content: "\e61e";
}

/* line 295, ../sass/style.scss */
.icon-mobile:before {
  content: "\e606";
}

/* line 298, ../sass/style.scss */
.icon-redo:before {
  content: "\e61f";
}

/* line 301, ../sass/style.scss */
.icon-user:before {
  content: "\e61c";
}

/* line 304, ../sass/style.scss */
.icon-users:before {
  content: "\e607";
}

/* line 307, ../sass/style.scss */
.icon-search:before {
  content: "\e620";
}

/* line 310, ../sass/style.scss */
.icon-wrench:before {
  content: "\e624";
}

/* line 313, ../sass/style.scss */
.icon-list:before {
  content: "\e614";
}

/* line 316, ../sass/style.scss */
.icon-flag:before {
  content: "\e608";
}

/* line 319, ../sass/style.scss */
.icon-heart:before {
  content: "\e615";
}

/* line 322, ../sass/style.scss */
.icon-thumbs-up:before {
  content: "\e616";
}

/* line 325, ../sass/style.scss */
.icon-close:before {
  content: "\e60e";
}

/* line 328, ../sass/style.scss */
.icon-minus:before {
  content: "\e60f";
}

/* line 331, ../sass/style.scss */
.icon-plus:before {
  content: "\e610";
}

/* line 334, ../sass/style.scss */
.icon-loop:before {
  content: "\e617";
}

/* line 337, ../sass/style.scss */
.icon-facebook:before {
  content: "\e605";
}

/* line 340, ../sass/style.scss */
.icon-twitter:before {
  content: "\e618";
}

/* line 343, ../sass/style.scss */
.icon-skype:before {
  content: "\e600";
}

/* line 346, ../sass/style.scss */
.icon-maximize:before {
  content: "\e621";
}

/* line 349, ../sass/style.scss */
.icon-star:before {
  content: "\e609";
}

/* line 352, ../sass/style.scss */
.icon-video:before {
  content: "\e60a";
}

/* line 355, ../sass/style.scss */
.icon-settings:before {
  content: "\e60b";
}

/* line 358, ../sass/style.scss */
.icon-lock:before {
  content: "\e60c";
}

/* line 361, ../sass/style.scss */
.icon-world:before {
  content: "\e60d";
}

/* line 364, ../sass/style.scss */
.icon-cross:before {
  content: "\e619";
}

/* line 367, ../sass/style.scss */
.icon-min:before {
  content: "\e61a";
}

/* line 370, ../sass/style.scss */
.icon-max:before {
  content: "\e61b";
}

/* line 373, ../sass/style.scss */
.icon-ellipsis:before {
  content: "\e622";
}
