/* line 5, ../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?200299");
  src: url("../fonts/icomoon.eot?#iefix200299") format("embedded-opentype"), url("../fonts/icomoon.woff?200299") format("woff"), url("../fonts/icomoon.ttf?200299") format("truetype"), url("../fonts/icomoon.svg?200299#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/icomoon.scss */
.icon-zoom-out:before {
  content: "\e62b";
}

/* line 29, ../sass/icomoon.scss */
.icon-zoom-in:before {
  content: "\e62c";
}

/* line 32, ../sass/icomoon.scss */
.icon-open:before {
  content: "\e62a";
}

/* line 35, ../sass/icomoon.scss */
.icon-circle-o-notch:before {
  content: "\e625";
}

/* line 38, ../sass/icomoon.scss */
.icon-google-plus:before {
  content: "\e601";
}

/* line 41, ../sass/icomoon.scss */
.icon-email:before {
  content: "\e602";
}

/* line 44, ../sass/icomoon.scss */
.icon-github:before {
  content: "\e603";
}

/* line 47, ../sass/icomoon.scss */
.icon-sina-weibo:before {
  content: "\e604";
}

/* line 50, ../sass/icomoon.scss */
.icon-pencil:before {
  content: "\e611";
}

/* line 53, ../sass/icomoon.scss */
.icon-quill:before {
  content: "\e61d";
}

/* line 56, ../sass/icomoon.scss */
.icon-books:before {
  content: "\e623";
}

/* line 59, ../sass/icomoon.scss */
.icon-tag:before {
  content: "\e612";
}

/* line 62, ../sass/icomoon.scss */
.icon-address-book:before {
  content: "\e613";
}

/* line 65, ../sass/icomoon.scss */
.icon-bell:before {
  content: "\e61e";
}

/* line 68, ../sass/icomoon.scss */
.icon-mobile:before {
  content: "\e606";
}

/* line 71, ../sass/icomoon.scss */
.icon-redo:before {
  content: "\e61f";
}

/* line 74, ../sass/icomoon.scss */
.icon-user:before {
  content: "\e61c";
}

/* line 77, ../sass/icomoon.scss */
.icon-users:before {
  content: "\e607";
}

/* line 80, ../sass/icomoon.scss */
.icon-search:before {
  content: "\e620";
}

/* line 83, ../sass/icomoon.scss */
.icon-wrench:before {
  content: "\e624";
}

/* line 86, ../sass/icomoon.scss */
.icon-list:before {
  content: "\e614";
}

/* line 89, ../sass/icomoon.scss */
.icon-flag:before {
  content: "\e608";
}

/* line 92, ../sass/icomoon.scss */
.icon-heart:before {
  content: "\e615";
}

/* line 95, ../sass/icomoon.scss */
.icon-thumbs-up:before {
  content: "\e616";
}

/* line 98, ../sass/icomoon.scss */
.icon-close:before {
  content: "\e60e";
}

/* line 101, ../sass/icomoon.scss */
.icon-minus:before {
  content: "\e60f";
}

/* line 104, ../sass/icomoon.scss */
.icon-plus:before {
  content: "\e610";
}

/* line 107, ../sass/icomoon.scss */
.icon-loop:before {
  content: "\e617";
}

/* line 110, ../sass/icomoon.scss */
.icon-arrow-up:before {
  content: "\e626";
}

/* line 113, ../sass/icomoon.scss */
.icon-arrow-down:before {
  content: "\e627";
}

/* line 116, ../sass/icomoon.scss */
.icon-facebook:before {
  content: "\e605";
}

/* line 119, ../sass/icomoon.scss */
.icon-twitter:before {
  content: "\e618";
}

/* line 122, ../sass/icomoon.scss */
.icon-skype:before {
  content: "\e600";
}

/* line 125, ../sass/icomoon.scss */
.icon-maximize:before {
  content: "\e621";
}

/* line 128, ../sass/icomoon.scss */
.icon-star:before {
  content: "\e609";
}

/* line 131, ../sass/icomoon.scss */
.icon-video:before {
  content: "\e60a";
}

/* line 134, ../sass/icomoon.scss */
.icon-settings:before {
  content: "\e60b";
}

/* line 137, ../sass/icomoon.scss */
.icon-lock:before {
  content: "\e60c";
}

/* line 140, ../sass/icomoon.scss */
.icon-world:before {
  content: "\e60d";
}

/* line 143, ../sass/icomoon.scss */
.icon-cross:before {
  content: "\e619";
}

/* line 146, ../sass/icomoon.scss */
.icon-min:before {
  content: "\e61a";
}

/* line 149, ../sass/icomoon.scss */
.icon-max:before {
  content: "\e61b";
}

/* line 152, ../sass/icomoon.scss */
.icon-arrow-down2:before {
  content: "\e628";
}

/* line 155, ../sass/icomoon.scss */
.icon-arrow-up2:before {
  content: "\e629";
}

/* line 158, ../sass/icomoon.scss */
.icon-ellipsis:before {
  content: "\e622";
}

/* line 44, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #3e3e3e;
  background-color: #fff;
  width: 100%;
}
/* line 51, ../sass/style.scss */
body p {
  line-height: 1.4em;
}

/* line 56, ../sass/style.scss */
header {
  padding: 0 1em;
  background-color: #0ac285;
  overflow: hidden;
  *zoom: 1;
}
/* line 59, ../sass/style.scss */
header h1 {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
  padding: 0 1em;
  text-transform: uppercase;
}
/* line 66, ../sass/style.scss */
header h1 a {
  color: white;
  text-decoration: none;
}
/* line 71, ../sass/style.scss */
header li {
  float: left;
}
/* line 73, ../sass/style.scss */
header li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1em 1em;
}
/* line 79, ../sass/style.scss */
header li:hover {
  background-color: #09aa74;
}
/* line 81, ../sass/style.scss */
header li:hover .sub-nav {
  display: block;
}
/* line 85, ../sass/style.scss */
header li .sub-nav {
  display: none;
  position: absolute;
  width: 15em;
  z-index: 99;
  top: 3em;
  left: 300px;
}
/* line 92, ../sass/style.scss */
header li .sub-nav p {
  width: 100%;
  line-height: 3em;
  background-color: #444;
}
/* line 96, ../sass/style.scss */
header li .sub-nav p a {
  text-decoration: none;
  text-align: left;
  color: white;
  display: block;
  padding: 0em 1em;
}
/* line 102, ../sass/style.scss */
header li .sub-nav p a:hover {
  background: #333;
}

/* line 112, ../sass/style.scss */
.container {
  max-width: 120em;
  margin: 0 auto;
}

/* line 117, ../sass/style.scss */
.darker {
  background-color: #dddddd;
}

/* line 121, ../sass/style.scss */
.hero {
  width: 100%;
  min-height: 35em;
  position: relative;
  background-color: #333333;
  z-index: 1;
}
/* line 128, ../sass/style.scss */
.hero:after {
  background: url("../images/hero-1-resized.jpg");
  background-size: 100%;
  position: absolute;
  content: "";
  z-index: -1;
  opacity: .3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 141, ../sass/style.scss */
.hero h2 {
  font-weight: bold;
  font-size: 3em;
  padding: 3em 0 1em 0;
  text-transform: uppercase;
  color: white;
}
/* line 149, ../sass/style.scss */
.hero p {
  max-width: 70%;
  color: #eee;
  margin: 0 auto;
  padding: 1em 0 8em 0;
}
/* line 154, ../sass/style.scss */
.hero p span {
  color: #0ac285;
}

/* line 160, ../sass/style.scss */
.workshop-hero {
  width: 100%;
  min-height: 18em;
  position: relative;
  background-color: #333333;
  z-index: 1;
}
/* line 166, ../sass/style.scss */
.workshop-hero .workshop-banner {
  padding: 0 6em;
}
/* line 168, ../sass/style.scss */
.workshop-hero .workshop-banner h2 {
  text-align: left;
  font-weight: bold;
  font-size: 3em;
  padding: 1.5em 0 0.3em;
  text-transform: uppercase;
  color: white;
}
/* line 177, ../sass/style.scss */
.workshop-hero .workshop-banner p {
  text-align: left;
  color: #eee;
  padding: 0.2em 0;
}
/* line 181, ../sass/style.scss */
.workshop-hero .workshop-banner p span {
  color: #0ac285;
}
/* line 184, ../sass/style.scss */
.workshop-hero .workshop-banner p strong {
  font-weight: bold;
}
/* line 187, ../sass/style.scss */
.workshop-hero .workshop-banner p.time {
  background-color: #0ac285;
  padding: 0.1em 0.5em;
  width: 200px;
  margin-bottom: 1em;
}
/* line 196, ../sass/style.scss */
.workshop-hero:after {
  background: url("../images/hero-1-resized.jpg") 0 -9em;
  background-size: 100%;
  position: absolute;
  content: "";
  z-index: -1;
  opacity: .3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 210, ../sass/style.scss */
.workshop2-hero:after {
  background: url("../images/workshop2/classshow/1.pic.jpg") 0 -36em;
  background-size: 100% auto;
}

/* line 232, ../sass/style.scss */
.history {
  padding: 2em 0 7em;
  background-color: #eee;
  overflow: hidden;
  *zoom: 1;
}
/* line 235, ../sass/style.scss */
.history h3 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0ac285;
  padding: 2em 0;
}
/* line 222, ../sass/style.scss */
.history h3:after {
  content: "";
  display: block;
  background-color: #cccccc;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 239, ../sass/style.scss */
.history li {
  float: left;
  width: 33.33%;
  position: relative;
}
@media only screen and (max-width: 320px) {
  /* line 239, ../sass/style.scss */
  .history li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 239, ../sass/style.scss */
  .history li {
    width: 100%;
  }
}
/* line 253, ../sass/style.scss */
.history li .number {
  height: 60px;
  width: 240px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 257, ../sass/style.scss */
.history li .number h4 {
  background: #d8d8d8;
  padding-top: 1.5em;
  height: 100%;
  font-weight: bold;
  float: left;
  width: 190px;
}
/* line 265, ../sass/style.scss */
.history li .number p {
  float: left;
  width: 50px;
  height: 100%;
  color: #fff;
  font-size: 3em;
  line-height: 1.2em;
  font-weight: bold;
  background: #666;
}
/* line 274, ../sass/style.scss */
.history li .number p.current-num {
  background-color: #0ac285;
}
/* line 282, ../sass/style.scss */
.history li .current-note {
  position: absolute;
  width: 240px;
  top: 70px;
  text-align: center;
  color: #0ac285;
}
/* line 290, ../sass/style.scss */
.history li .subject {
  margin: 0 auto;
  width: 240px;
  text-align: left;
}
/* line 294, ../sass/style.scss */
.history li .subject p {
  color: #6e6e6e;
  margin-top: 2em;
  margin-bottom: 2.5em;
}
/* line 298, ../sass/style.scss */
.history li .subject p strong {
  font-weight: bold;
}
/* line 304, ../sass/style.scss */
.history li a {
  padding: 0.5em 1em;
  background: #0ac285;
  color: #fff;
  text-decoration: none;
}

/* line 315, ../sass/style.scss */
.topics {
  padding: 2em 0 4em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 317, ../sass/style.scss */
.topics h3 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0ac285;
  padding: 2em 0;
}
/* line 222, ../sass/style.scss */
.topics h3:after {
  content: "";
  display: block;
  background-color: #cccccc;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 321, ../sass/style.scss */
.topics li {
  float: left;
  width: 33.33%;
}
@media only screen and (max-width: 320px) {
  /* line 321, ../sass/style.scss */
  .topics li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 321, ../sass/style.scss */
  .topics li {
    width: 100%;
  }
}
/* line 334, ../sass/style.scss */
.topics li i {
  font-size: 3em;
}
/* line 338, ../sass/style.scss */
.topics li h4 {
  padding: 1em 0;
  font-weight: bold;
}
/* line 343, ../sass/style.scss */
.topics li p {
  color: #6e6e6e;
  padding: 0 8em;
  margin-bottom: 4em;
}

/* line 361, ../sass/style.scss */
.pages {
  padding: 2em 0;
  background-color: #eee;
}
/* line 365, ../sass/style.scss */
.pages h3 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0ac285;
  padding: 2em 0;
}
/* line 222, ../sass/style.scss */
.pages h3:after {
  content: "";
  display: block;
  background-color: #cccccc;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 369, ../sass/style.scss */
.pages .sample {
  padding: 0 6em 4em 6em;
}
/* line 373, ../sass/style.scss */
.pages #week-1, .pages #week-2 {
  overflow: hidden;
  *zoom: 1;
}
/* line 374, ../sass/style.scss */
.pages #week-1 li, .pages #week-2 li {
  float: left;
  width: 50%;
  overflow: hidden;
  *zoom: 1;
}
@media only screen and (max-width: 320px) {
  /* line 374, ../sass/style.scss */
  .pages #week-1 li, .pages #week-2 li {
    float: none;
    width: 100%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 374, ../sass/style.scss */
  .pages #week-1 li, .pages #week-2 li {
    float: none;
    width: 100%;
    margin-bottom: 2em;
  }
}
/* line 390, ../sass/style.scss */
.pages #week-1 li .thumb, .pages #week-2 li .thumb {
  width: 100%;
  height: 30em;
  overflow: hidden;
}
/* line 394, ../sass/style.scss */
.pages #week-1 li .thumb img, .pages #week-2 li .thumb img {
  width: 90%;
  margin: 0 auto;
}
/* line 400, ../sass/style.scss */
.pages #week-1 li .description, .pages #week-2 li .description {
  text-align: left;
}
/* line 402, ../sass/style.scss */
.pages #week-1 li .description h4, .pages #week-2 li .description h4 {
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  /* line 402, ../sass/style.scss */
  .pages #week-1 li .description h4, .pages #week-2 li .description h4 {
    padding-top: 1em;
  }
}
/* line 409, ../sass/style.scss */
.pages #week-1 li .description p, .pages #week-2 li .description p {
  font-weight: lighter;
  color: #444;
  text-align: left;
  padding: .5em 0;
}
/* line 424, ../sass/style.scss */
.pages #week-1 .thumb img {
  content: url("../images/agents-fs8.png");
}
/* line 432, ../sass/style.scss */
.pages #week-2 .thumb img {
  content: url("../images/themes-resized.jpg");
}
/* line 440, ../sass/style.scss */
.pages #week-3 .thumb img {
  content: url("../images/artists-resized.jpg");
}

/* line 451, ../sass/style.scss */
.workshop2 #week-1 .thumb img {
  content: url("../images/workshop2/second-day.png");
}
/* line 459, ../sass/style.scss */
.workshop2 #week-2 .thumb img {
  content: url("../images/workshop2/third-day.png");
}

/* line 468, ../sass/style.scss */
.gallery {
  padding: 2em 0 8em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 471, ../sass/style.scss */
.gallery h3 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0ac285;
  padding: 2em 0;
}
/* line 222, ../sass/style.scss */
.gallery h3:after {
  content: "";
  display: block;
  background-color: #cccccc;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 475, ../sass/style.scss */
.gallery ul {
  padding: 0 2em;
}
/* line 478, ../sass/style.scss */
.gallery ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
@media only screen and (max-width: 320px) {
  /* line 478, ../sass/style.scss */
  .gallery ul li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 478, ../sass/style.scss */
  .gallery ul li {
    width: 50%;
  }
}
/* line 494, ../sass/style.scss */
.gallery ul li a {
  display: block;
  position: relative;
  width: 100%;
}
/* line 499, ../sass/style.scss */
.gallery ul li a::after {
  content: "";
  display: block;
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 510, ../sass/style.scss */
.gallery ul li a:hover {
  z-index: 10;
}
/* line 512, ../sass/style.scss */
.gallery ul li a:hover::after {
  display: none;
}
/* line 518, ../sass/style.scss */
.gallery ul li img {
  width: 100%;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 521, ../sass/style.scss */
.gallery ul li img:hover {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 527, ../sass/style.scss */
.gallery ul li:nth-child(1) img {
  content: url("../images/gallery-1-resized.jpg");
}
/* line 527, ../sass/style.scss */
.gallery ul li:nth-child(2) img {
  content: url("../images/gallery-2-resized.jpg");
}
/* line 527, ../sass/style.scss */
.gallery ul li:nth-child(3) img {
  content: url("../images/gallery-3-resized.jpg");
}
/* line 527, ../sass/style.scss */
.gallery ul li:nth-child(4) img {
  content: url("../images/gallery-4-resized.jpg");
}
/* line 527, ../sass/style.scss */
.gallery ul li:nth-child(5) img {
  content: url("../images/gallery-5-resized.jpg");
}
/* line 527, ../sass/style.scss */
.gallery ul li:nth-child(6) img {
  content: url("../images/gallery-6-resized.jpg");
}
/* line 527, ../sass/style.scss */
.gallery ul li:nth-child(7) img {
  content: url("../images/gallery-7-resized.jpg");
}
/* line 527, ../sass/style.scss */
.gallery ul li:nth-child(8) img {
  content: url("../images/gallery-8-resized.jpg");
}

/* line 541, ../sass/style.scss */
.gallery.gallery-workshop2 li:nth-child(1) img {
  content: url("../images/workshop2/classshow/1.pic.jpg");
}
/* line 541, ../sass/style.scss */
.gallery.gallery-workshop2 li:nth-child(2) img {
  content: url("../images/workshop2/classshow/2.pic.jpg");
}
/* line 541, ../sass/style.scss */
.gallery.gallery-workshop2 li:nth-child(3) img {
  content: url("../images/workshop2/classshow/3.pic.jpg");
}
/* line 541, ../sass/style.scss */
.gallery.gallery-workshop2 li:nth-child(4) img {
  content: url("../images/workshop2/classshow/4.pic.jpg");
}

/* line 546, ../sass/style.scss */
.cases {
  padding: 3em 0 6em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 548, ../sass/style.scss */
.cases a {
  text-decoration: none;
  color: white;
}
/* line 552, ../sass/style.scss */
.cases h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0ac285;
  padding: 2em 0;
  padding-bottom: 0;
}
/* line 222, ../sass/style.scss */
.cases h2:after {
  content: "";
  display: block;
  background-color: #cccccc;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 556, ../sass/style.scss */
.cases .description {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 4em;
}
/* line 561, ../sass/style.scss */
.cases ul {
  padding: 0 2em;
}
/* line 565, ../sass/style.scss */
.cases li {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  height: 22em;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 320px) {
  /* line 565, ../sass/style.scss */
  .cases li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 565, ../sass/style.scss */
  .cases li {
    width: 50%;
  }
}
/* line 583, ../sass/style.scss */
.cases li .case {
  width: 100%;
}
/* line 590, ../sass/style.scss */
.cases li:hover .information {
  top: 15em;
}
/* line 594, ../sass/style.scss */
.cases li:hover .mask {
  top: 0;
}
/* line 599, ../sass/style.scss */
.cases li .mask {
  display: block;
  position: absolute;
  top: -22em;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3e3e3e;
  opacity: .1;
}
/* line 610, ../sass/style.scss */
.cases li .information {
  position: absolute;
  background-color: #3e3e3e;
  top: 22em;
  left: 0;
  width: 100%;
  height: 150px;
  opacity: .9;
  transition: all .4s ease-in-out;
  text-align: left;
  padding: 0 1em;
  box-sizing: border-box;
  color: white;
}
/* line 624, ../sass/style.scss */
.cases li .information h3 {
  padding: 1em 0;
}
/* line 628, ../sass/style.scss */
.cases li .information .actions {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 5em 0;
}
/* line 634, ../sass/style.scss */
.cases li .information .actions span {
  display: inline-block;
  border: 1px solid transparent;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: .3em;
  margin-right: 1em;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
/* line 643, ../sass/style.scss */
.cases li .information .actions span:hover {
  color: white;
  background-color: #0ac285;
  border: 1px solid #0ac285;
}
/* line 651, ../sass/style.scss */
.cases li .information .detail {
  position: relative;
  padding-top: 2em;
}
/* line 654, ../sass/style.scss */
.cases li .information .detail .avator {
  position: absolute;
  width: 3em;
  height: 3em;
  bottom: 0;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 662, ../sass/style.scss */
.cases li .information .detail p {
  padding: .5em 0 0 0;
}
/* line 665, ../sass/style.scss */
.cases li .information .detail .contact {
  margin-left: 4em;
}
/* line 667, ../sass/style.scss */
.cases li .information .detail .contact .name {
  font-weight: bold;
  margin-right: .5em;
}
/* line 672, ../sass/style.scss */
.cases li .information .detail .contact .role {
  color: #eeeeee;
}
/* line 676, ../sass/style.scss */
.cases li .information .detail .contact .date {
  display: none;
  color: #eeeeee;
  float: right;
}
/* line 683, ../sass/style.scss */
.cases li .information .detail .like {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: #0ac285;
  border: 1px solid #0ac285;
  padding: .2em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  transition: all .3s ease-in-out;
}
/* line 696, ../sass/style.scss */
.cases li .information .detail .like:hover {
  color: #0ac285;
  background-color: white;
  border: 1px solid transparent;
}

/* line 710, ../sass/style.scss */
footer {
  padding: 1em 0;
  background-color: #333333;
  overflow: hidden;
  *zoom: 1;
}
/* line 712, ../sass/style.scss */
footer p {
  color: white;
}
/* line 714, ../sass/style.scss */
footer p a {
  color: #0ac285;
  text-decoration: none;
  display: inline-block;
}
/* line 720, ../sass/style.scss */
footer strong {
  font-weight: bold;
}
/* line 723, ../sass/style.scss */
footer .note {
  color: #888;
  width: 80%;
  margin: 0 auto;
  color: #9e9e9e;
}
