img {
	content: ''!important;
}
.pages #week-2 .thumb img {
	box-shadow: 0 0 10px #999;
	content: '';
}
#week-2 .thumb img:first-child {
	max-width: 90%;
	margin: 0 auto;
	height: 100%;
	position:relative;
	z-index:1;
	transition: z-index 1s ease-in 0;
}
#week-2 .thumb img:first-child:hover{
	z-index:3;

}
.workshop7 #week-2 .thumb img:nth-child(2) {
  position: absolute;
  left: 5px;
  width: 40%;
  height: auto;
  bottom: -100px;
  z-index: 2;
}

.workshop7 #week-2 .thumb img:last-child {
  position: absolute;
  right: 5px;
  height: 90%;
  width: auto;
  bottom: -100px;
  z-index: 2;
}
.showcase-title {
	margin: 20px 0 15px;
}
.homework-list li {
	margin: 5px 0;
	width: 30%!important;
}
.homework-list a {
	line-height: 23px;
	color: #0ac285;
	text-decoration: none;
}
.homework-list a:hover {
	text-decoration: underline;
}
.workshop7-hero {
	background: url(../images/workshop7/hero.jpg) center 42%;
	background-size: cover;
}
.workshop7-hero::after {
	background-color: rgba(20, 40, 19, 0.8);
	background-image: none;
}